.root{
	/*
	-fx-background:#383838;
	*/
	-fx-font-size:12pt;
}
.lb-large{
	-fx-font-size:24pt;
}
.bold{
	-fx-font-weight:bold;
}
.border-box{
	-fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: black
}
